* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(23, 8, 41);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 6rem;
  color: rgb(219, 15, 83);
}

.main-clock {
  background-color: rgb(16, 10, 22);
  margin: 0 auto;
  padding: 1rem;
  width: 35%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(1, 220, 140);
}

.clock-time {
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
}

.main-clock--bar {
  margin: 0 auto;
  height: 1vh;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(1, 210, 140);
  box-shadow: 0px 5px 35px 5px rgb(1, 220, 140, 0.7);
}

@media (max-width: 100em) {
  .main-clock {
    padding: 1.5rem;
    width: 45%;
  }
}

@media (max-width: 80em) {
  .main-clock {
    padding: 2rem;
    width: 55%;
  }
}

@media (max-width: 70em) {
  p {
    font-size: 5.5rem;
  }

  .main-clock {
    padding: 2.7rem;
    width: 65%;
  }
}

@media (max-width: 55em) {
  p {
    font-size: 5.5rem;
  }

  .main-clock {
    padding: 3rem;
    width: 75%;
  }
}

@media (max-width: 30em) {
  p {
    font-size: 5rem;
  }

  .main-clock {
    padding: 2rem;
    width: 70%;
  }
}
